@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Outfit:wght@200;400&family=Raleway:wght@200;400&display=swap');

* {
  font-family: 'Raleway';
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 134px auto;
  max-width: 900px;
}

body {
  background-color: #674bb1;
  z-index: 0;
  background-image: url('bg-desktop.svg');
  background-size: cover;
}

@media only screen and (max-width: 598px) {
  body {
    background-image: url('bg-mobile.svg');
    background-size: contain;
  }
}

img {
  max-width: 100%;
}

header,
main,
footer {
  width: 80vw;
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px 0;
}

@media only screen and (max-width: 598px) {
  header,
  main,
  footer {
    width: 80%;
  }
}

.image {
  position: relative;
  z-index: 1;
  width: 50%;
  margin-right: 50px;
  margin: 10px;
}

@media only screen and (max-width: 598px) {
  .image {
    width: 100%;
    margin-top: -9px;
    text-align: center;
  }
}

.text {
  color: white;
  word-wrap: break-word;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media only screen and (max-width: 598px) {
  .text {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
}

.text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.text button {
  font-size: 1.25rem;
  padding: 15px 33px;
  background-color: #fff;
  color: #674bb1;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 4px 4px black;
}

@media only screen and (max-width: 598px) {
  .text button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 599px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
    margin: 160px auto;
    max-width: 600px;
  }

  .image {
    margin-top: -150px;
  }

  .text {
    margin-top: 50px;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }

  .text button {
    font-size: 1.25rem;
    padding: 15px 33px;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    margin: 134px auto;
    max-width: 900px;
  }
}
